*.class

# Package Files
*.jar
*.war
*.ear

# build files
**/target
build
aspose-barcode-cloud.iml
!tools/*
!**/gradle-wrapper.jar
.idea
.gradle
local.properties

**/configuration*.json
snippets_test/

